@font-face {
    font-family: Avenir-Classic;
    src: url(fonts/avenir/AvenirNextCyr-Thin.eot);
    src: url(fonts/avenir/AvenirNextCyr-Thin.eot?#iefix) format('embedded-opentype'),
    url(fonts/avenir/AvenirNextCyr-Thin.woff) format('woff'),
    url(fonts/avenir/AvenirNextCyr-Thin.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }
@font-face {
    font-family: Avenir-Bold;
    src: url(fonts/avenir/AvenirNextCyr-Bold.eot);
    src: url(fonts/avenir/AvenirNextCyr-Bold.eot?#iefix) format('embedded-opentype'),
    url(fonts/avenir/AvenirNextCyr-Bold.woff) format('woff'),
    url(fonts/avenir/AvenirNextCyr-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }
@font-face {
    font-family: Avenir-Demi;
    src: url(fonts/avenir/AvenirNextCyr-Demi.eot);
    src: url(fonts/avenir/AvenirNextCyr-Demi.eot?#iefix) format('embedded-opentype'),
    url(fonts/avenir/AvenirNextCyr-Demi.woff) format('woff'),
    url(fonts/avenir/AvenirNextCyr-Demi.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }
* {
    color: #fff;
    font-family: Avenir-Classic;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h1, h2, h3, h5, .logo p, .more-photo-button>a, .footer-logo, .nav-list-item>a>p, .nav-list-item>p, .portfolio-item-name p, .price-table-inner-section:last-of-type, sup  {
    font-family: Avenir-Demi;
}
body {
    margin: 0; 
    background-color: #2C2C2C; 
    background-blend-mode: color; 
    -webkit-background-size: cover;
    background-size: cover;
    }
a{text-decoration: none; text-overflow: ellipsis; white-space: nowrap; outline: none; overflow: hidden;}
ul{list-style: none; padding: 0; margin: 0;}
.container{padding:0px 15px;margin:auto; height: 100%}
.container:before,.container:after{display: table;content:" ";}
.container:after{clear:both;}
section {
    margin: 80px 0;
}
section::after {
    content: " ";
    clear: both;
    display: table;
}
.bg-image {
    position: absolute;
    height: 60%;
    width: 100%;
    z-index: -3;
}
.main-bg-image {
    background: linear-gradient(180deg, rgba(44, 44, 44, 0.2) 0%, #2C2C2C 100%), url(/images/mainpage-bg-image.jpg) no-repeat top center;
    background-size: cover;

}
h2 {
    font-size: 36px;
    line-height: 44px;
    align-items: center;
    text-align: center;
    background: linear-gradient(122.59deg, #FFD251 3.49%, #FFAF51 93.91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
}
/*********************************************HEADER************************************************/
#header {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background: rgba(105, 90, 90, 0.5);
    transition: 0.6s;
    z-index: 10;
}
#header.change-color {
    background: #4f4f4f;
}
.logo {
    display: inline-block;
    margin-right: 30px;
    height: 100%; 
    float: left;   
}
.logo a {
    display: block;
    height: 100%;
    padding: 13px 0;  
}
.logo-image {
    height: 45px;
    width: 40px;
    vertical-align: middle;
    margin-right: 8px;
}
.logo p {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    font-size: 30px;
    letter-spacing: 0.05em; 
    background: linear-gradient(122.59deg, #FFD251 30.49%, #FFAF51 93.91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}
.navbar {
    margin: 0px;
    padding: 0px;
    position: relative;
    display: inline-block;
}
.navbar-menu-button {
    display: none;
    float: right;
    padding: 8px;
    margin: 16px 16px 0 0;
    background-color: #4f4f4f;
    border: 1px #666 solid;
    border-radius: 1px;
    cursor: pointer;
}
.icon-bar {
    display: block;
    width: 24px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
}
.icon-bar + .icon-bar {
  margin-top: 6px;
}
.navbar-mobile-menu {
    display: none;
    position: absolute;
    top: 70px;
    width: 100%;
}
.navbar-link {
    position: relative;
    margin: 0px 0px;
    height: 70px;
    float: left;
    box-sizing: border-box;
    display: inline-block;
    text-align: -webkit-match-parent;
    transition: 0.5s;
}
.navbar-link a{
    display: block;
    height: 70px;
    padding: 18px 20px;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.03em;
}
.navbar-link:hover {
    background: rgba(255, 255, 255, 0.20);
    transition: 0.5s;
}
#navbar-contacts {
    height: 70px;
    float: right;
    padding: 14px;
    padding-left: 30px;
    font-size: 18px;
}
/**************************************************HEAD-TEXT******************************************/
.main-page-title {
    display: table;
    width: 750px;
    position: relative;
    margin: 150px auto 0 auto;
    text-align: center;
}
.main-page-title p {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    margin: 0;
    font-family: Avenir-Bold;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.03em;
    background: #fff;
    -webkit-background-clip: text;
    display:table-cell!important;
    vertical-align:middle;
}
#head-text h1 {
    width: 100%;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 50px;
}
#union_1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 137.01px;
    height: 47px;
}
#union_2 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 137.01px;
    height: 47px;
}
#line_1 {
    position: absolute;
    width: 3px;
    height: 47px;
    top: 0;
    left: 0;
    background: linear-gradient(98.4deg, #FFD251 3.49%, #FFAF51 93.91%);
    box-shadow: 0px 0px 4px rgba(255, 210, 81, 0.5);
}
#line_2 {
    position: absolute;
    width: 137px;
    height: 3px;
    top: 0;
    left: 0;
    background: linear-gradient(98.4deg, #FFD251 3.49%, #FFAF51 93.91%);
    box-shadow: 0px 0px 4px rgba(255, 210, 81, 0.5);
}
#line_3 {
    position: absolute;
    width: 3px;
    height: 47px;
    bottom: 0;
    right: 0;
    background: linear-gradient(98.4deg, #FFD251 3.49%, #FFAF51 93.91%);
    box-shadow: 0px 0px 4px rgba(255, 210, 81, 0.5);
}
#line_4 {
    
    position: absolute;
    width: 137px;
    height: 3px;
    bottom: 0;
    right: 0;
    background: linear-gradient(98.4deg, #FFD251 3.49%, #FFAF51 93.91%);
    box-shadow: 0px 0px 4px rgba(255, 210, 81, 0.5);
}
/*****************************************MOUSE ICON*************************************/
#mouse-scroll-down {
    display: block;
    position: fixed;
    bottom: 20px;
    width: 15px;
    height: 50px;
    left: 50%;
    margin-left: -7.5px;
    opacity: 1;
    transition: opacity 1s, visibility 0s;
}
#mouse-scroll-down.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 0s 1s;
}
#mouse-scroll-down-rectangle {
    position: absolute;
    width: 15px;
    height: 22.5px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 9px;
}
#mouse-scroll-down-ellipse {
    position: absolute;
    width: 3px;
    height: 3px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 9px;
    top: 6px;
    left: 5px;
}
.fa-angle-down {
    position: absolute;
    bottom: 0;
    left: 0.64px;
    animation: jump 1s infinite;
}
@keyframes jump {
    0% {bottom: 10px}
    50% {bottom: 0px;}
    100% {bottom: 10px;}
}

/*************************************************ADVANTAGES**************************************/
#advantages {
    text-align: center;
}
.advantages-item {
    display: inline-block;
    width: 31%;
    vertical-align: top;
    margin: 0px 1% 30px 1%;
}
.advantages-item h5 {
    font-size: 22px;
    margin: 10px;
}
.advantages-item p {
    font-size: 16px;
    max-width: 220px;
    margin: 0 auto;
}
.advantages-item-img img {
    height: 72px;
}
/*************************************************MINI PORTFOLIO**************************************/
#mini-portfolio, #mini-portfolio>h2 {
    margin-top: 0px;
}
#mini-portfolio-content {
    width: 50%;
    float: left;
}
#house-image-frame {
    position: absolute;
    width: 490px;
    height: 320px;
    box-shadow: 0px 0px 4px rgba(255, 210, 81, 0.5);
    border-radius: 1px;
    z-index: -1;
    border: 6px solid;
    border-image: linear-gradient(98.4deg, #FFD251 3.49%, #FFAF51 93.91%);
    border-image-slice: 1;
}
.house-image-main {
    margin: 30px 0 0 30px;
    width: 480px;
    height: 320px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: flex;
    box-shadow: inset 0px 0px 85px rgba(0,0,0,0.4);
}
.house-image-main img {
    display: none;
    z-index: -1;
    height: 100%;
}
.house-image-main .active {
    display: block;
    z-index: -1;
}
#house-image-small-container {
    display: block;
    margin-left: 30px;
    width: 480px;
}
.house-image-small a {
    display: inline-block;
    position: relative;
    width: 25%;
    height: 81px;
    margin-right: -4px;
    background-position: center;
}
.house-image-small .active {
    box-shadow: 0px 0px 4px rgba(255, 210, 81, 0.5);
    border-radius: 1px;
    border: 1px solid;
    border-image: linear-gradient(98.4deg, #FFD251 3.49%, #FFAF51 93.91%);
    border-image-slice: 1;
    opacity: 1;
}
.house-image-small .inactive {
    opacity: 0.5;
}
.house-image-small img {
    height: 100%;
}
.mini-portfolio-note {
    font-size: 22px;
    padding-top: 20px;
    float: right;
    width: 50%;
}
.more-photo-button-container {
    width: 50%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.more-photo-button {
    display: block;
    width: 400px;
    height: 65px;
    box-shadow: 0px 0px 4px rgba(255, 210, 81, 0.5);
    border-radius: 1px;
    border: 3px solid;
    border-image: linear-gradient(98.4deg, #FFD251 3.49%, #FFAF51 93.91%);
    border-image-slice: 1;
    margin-top: 50px;
}
.more-photo-button > a {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 14px;
    text-align: center;
    align-items: center;
    font-size: 24px;
    transition: 0.5s;
}
.more-photo-button > a:hover {
    background-color: rgba(255, 255, 255, 0.20);
}

/**************************************STEPS****************************************/
#steps {
    text-align: center;
    margin-bottom: 0;
}
.step-item {
    display: inline-block;
    width: 31%;
    vertical-align: top;
    margin: 0px 1% 80px 1%;
}
.step-item h5, .step-item p {
    text-align: left;
    padding-left: 140px;
    margin: 0;
}
.step-item h5 {
    font-size: 19px;
    margin: 18px 0px;
}
.step-item p {
    font-size: 15px;
}
.step-item img {
    float: left;
    height: 120px;
}
/**************************************ABOUT****************************************/
#about h5 {
    font-size: 22px;
    background: linear-gradient(122.59deg, #FFD251 3.49%, #FFAF51 93.91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    margin: 40px 0 15px 0;
}
#about {
    margin-top: 0;
}
#about p, #about li {
    font-size: 20px;
    text-align: left;
    margin: 20px 0px;
}
.about-table {
    float: left;
    width: 50%;
}
.about-table li {
    padding-left: 27px;
    background: url('/images/list-ellipse.svg')  0px 3px no-repeat;
    background-size: 16px 16px;
}
/**************************************FOOTER***************************************/

footer {
    height: 310px;
    background-color: #4f4f4f80;
}
.footer-logo {
    display: inline-block;
}
.footer-logo p {
    letter-spacing: 0.05em;
    background: linear-gradient(122.59deg, #FFD251 3.49%, #FFAF51 93.91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Avenir-Demi;
    font-size: 28px;
}
.footer-info {
    display: inline-block;
    font-size: 18px;
}
.footer-info p {
    margin: 0;
    font-size: 18px;
    text-align: left;
}
.footer-info a {
    margin-left: 10px;
    font-size: 24px;
}
.footer-title {
    display: inline-block; 
}
.footer-title h2 {
    padding: 80px 100px 0px 0px;
    font-size: 30px;
    margin: 0;
    text-align: center;
}
footer hr {
    width: 100%;
}
.footer-copyright p {
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin: 15px 0;
    left: 0;
}
.footer-copyright a {
    text-decoration: underline;
}


/****************************************************PORTFOLIO.php****************************************************************************************************************/
.portfolio-bg-image {
    background: linear-gradient(180deg, rgba(44, 44, 44, 0.2) 0%, #2C2C2C 100%), url(/images/portfolio-bg-image.jpg) no-repeat top center;
    background-size: cover;
}
#page-title {
    display: table;
    width: 750px;
    position: relative;
    margin: 130px auto 0 auto;
    text-align: center;
}
#page-title h1 {
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    margin: 0;
    font-family: Avenir-Bold;
    font-size: 38px;
    letter-spacing: 0.03em;
    display:table-cell!important;
    vertical-align:middle;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}
#nav-list {
    margin-top: 80px;
    margin-bottom: 40px;
}
.nav-list {
    background: #333333;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 41px;
    z-index: -2;
    
}
.nav-list-item {
    display: inline-block;
    width: 25%;
    float: left;
    height: 100%;
    font-size: 18px;
    line-height: 29px;
    cursor: pointer;
    opacity: 1;
    text-align: center;
}
.services-nav-list-item {
    width: 33%;
}
.nav-list-item>a>p, .nav-list-item>p {
    height: 100%;
    padding: 6px 8px;
    display: inline-block;
    margin: 0;
}
.nav-list-item:hover {
    opacity: 0.5;
}
.nav-front-L, .nav-front-M, .nav-front-services {
    height: 3px;
    position: absolute;
    background: linear-gradient(106.71deg, #FFD251 3.49%, #FFAF51 93.91%);
    margin-top: 37px;
    z-index: 0;
}
.nav-front-L, .nav-front-M {
    transition: 0.3s;
}
.nav-front-L{
    width: 145px;
    margin-left: 70px;
}
.nav-front-M{
    width: 120px;
    margin-left: 30px;
}
.section-container {
    display: block;
    width: 100%;
    margin-top: 40px;
}
.section-container h3 {
    font-size: 30px;
    background: linear-gradient(106.71deg, #FFD251 3.49%, #FFAF51 93.91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
    margin-left: 8px;
}
.portfolio-item {
    position:relative;
    display: inline-block;
    width: 344px;
    height: 225px;
    background-color: #fff;
    margin: 8px;
    background: linear-gradient(90deg, rgba(255, 210, 81, 0.05) 0%, rgba(255, 175, 81, 0.05) 100.05%, rgba(255, 255, 255, 0) 100.14%);
    background-size: cover;
}
.portfolio-item img {
    width: 100%;
    height: auto;
}
.portfolio-item-name {
    position: absolute;
    display: table;
    bottom: 0;
    height: 30px;
    width: 100%;
    background: linear-gradient(121.45deg, #FFD251 3.49%, #FFAF51 93.91%);
    opacity: 0.95;
}
.portfolio-item-name p {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    color: #2C2C2C;
    font-size: 18px;
    letter-spacing: 0.03em;
}
/***************************************************PORTFOLIO-ITEM***************************************************************/
#portfolio-page-title {
    width: 100%;
    position: absolute;
    font-family: Avenir-Bold;
    font-weight: 750;
    font-size: 30px;
    line-height: 59px;
    letter-spacing: 0.03em;
    align-items: center;
    text-align: center;
    margin: 35px 0 0 0; 
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}
.portfolio-page-bg-image {
    height: 40%;
}
#carousel {
    margin-top: 80px;
    margin-bottom: 30px;
}
.viewport {
    width: 800px;
    height: 532px;
    overflow: hidden;
    position: relative;
    margin: 0 auto 10px auto;
}
.slidewrapper {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: -2;
}
.slide {
    list-style: none;
    float: left;
    height: 532px;
    width: 800px;

}
.slide img {
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*****CAROUSEL BUTTON****/
.viewport a {
    display: block;
    position: absolute;
    height: 100%;
    width: 80px;
    z-index: 0;
}
.carousel-control-prev {
    top: 0;
    left: 0;
}
.carousel-control-prev:hover {
    background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.3) 54%, rgba(255,255,255,0) 100%);
    color: rgba(255, 255, 255, 1);
}
.carousel-control-next {
    top: 0;
    right: 0;
}
.carousel-control-next:hover {
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.3) 46%, rgba(0,0,0,0.5) 100%);
    color: rgba(255, 255, 255, 1);
}
.carousel-control-prev>span {left: 30px;}
.carousel-control-next>span {right: 30px;}
.viewport>a>span {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.carousel-counter {
    text-align: center;
    
}
/********************************************************************SERVICES*************************************************************************************************/
.services-bg-image {
    background: linear-gradient(180deg, rgba(44, 44, 44, 0.2) 0%, #2C2C2C 100%), url(/images/services-bg-image.jpg) no-repeat top center;
    background-size: cover;
}
.service-item {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    content: " ";
    clear: both;
    display: table;
}
.service-item-left, .service-item-right {
    float: left;
    width: 50%;
}
.service-item-image {
    width: 460px;
    
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0 10px 0 0;
}
.service-item-image img {
    height: 100%;
    width: 100%;
    border-radius: 2px;
}
.service-item-description {
    width: 100%;
    line-height: 20px;
    font-size: 16px;
    padding-right: 30px;
}
.service-item>h3, .process>h3 {
    font-size: 36px;
    line-height: 44px;
    background: #fff;
    -webkit-background-clip: text;
    margin: 0 auto 29px auto;
    text-align: center;
}
.service-item-pluses {
    margin-bottom: 49px;
}
.service-item-pluses>li, .service-item-minuses>li  {
    font-size: 18px;
    line-height: 22px;
    padding: 8px 0 8px 36px;
}
.service-item-pluses>li {
    background: url('/images/services/plus.svg')  0px 9px no-repeat;
    background-size: 19px 19px; 
}
.service-item-minuses>li {
    background: url('/images/services/minus.svg')  0px 9px no-repeat;
    background-size: 19px 19px; 
}
.services-nav-front {
    height: 3px;
    width: 190px;
    position: absolute;
    background: linear-gradient(106.71deg, #FFD251 3.49%, #FFAF51 93.91%);
    margin-top: 37px;
    z-index: 0;
    margin-left: 47.5px;
    transition: 0.3s;
}
/****************************PROCESS*******************************************/
.service-process {
    margin: 0 50px 70px 50px;
}
.service-process::after {
    content: " ";
    clear: both;
    display: table;
}
.service-process h3, .price-section h3 {
    background: linear-gradient(122.59deg, #FFD251 3.49%, #FFAF51 93.91%);
    -webkit-background-clip: text;
    text-align: center;
    margin-left: 0;
}
.service-process>ul {
    width: 50%;
    float: left;
}
.service-process>ul>li {
    padding: 0 30px 20px 27px;
    background: url('/images/list-ellipse.svg')  0px 5px no-repeat;
    background-size: 16px 16px;
    font-size: 22px;
}
/*********************************PRICE-TABLE*******************************************/
.price-section {
    margin-bottom: 70px;
}
.price-table::after {
    content: " ";
    clear: both;
    display: table;
}
.price-table-section {
    width: 25%;
    float: left;
    border-top: 2px #FFAF51 solid;
    border-right: 2px #FFAF51 solid;
    border-bottom: 2px #FFAF51 solid;
    height: 200px;
}
.price-table-section:first-child {
    border-left: 2px #FFAF51 solid;
}
.price-table-inner-section {
    height: 50%;
    text-align: center;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.price-table-inner-section:first-of-type {
    border-bottom: 2px #FFAF51 solid;
}
.price-note {
    display: block;
    font-size: 15px;
    margin-top: 10px;
}
/********************************************************************PRICE.php***************************************************************************************************/
.price-bg-image {
    background: linear-gradient(180deg, rgba(44, 44, 44, 0.2) 0%, #2C2C2C 100%), url(/images/price-bg-image.jpg) no-repeat top center;
    background-size: cover;
    height: 50%;
}
.price-page-title {
    margin-bottom: 150px;
}
/********************************************************************FEEDBACKS.php************************************************************************************************/
#feedbacks {
    margin-bottom: 0;
}
.feedback-item div::after {
    content: " ";
    clear: both;
    display: table;
}
.feedback-item {
    display: block;
    max-width: 980px;
    margin: 0 auto 100px auto;
    padding: 15px;
}
.feedback-title {
    padding-left: 63px;
    background: url('/images/feedback-quote.svg')  0px 10px no-repeat;
    background-size: 40px 40px;
    width: 83%;
    font-size: 22px;
    text-align: left;
    margin-bottom: 15px;
}
.feedback-task::before, .feedback-owner::before, .feedback-data-conclusion  {
    font-family: Avenir-Classic;
    font-weight: 600;
    background: linear-gradient(122.59deg, #FFD251 3.49%, #FFAF51 93.91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.feedback-task::before {
    content: 'Задача: ';
}
.feedback-owner::before {
    content: 'Отзыв заказчика: ';
}
.feedback-owner-date {
    float: right;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.01em;
    padding-top: 7px;
}
.feedback-task, .feedback-owner {
    font-family: Avenir-Classic;
    font-weight: 450;
}
.feedback-data {
    width: 100%;
    position: relative;
}
.feedback-data-top-frame {
    width: 83%;
    height: 30px;
    border-top: 4px solid;
    border-left: 4px solid;
    border-right: 4px solid;
    border-image: linear-gradient(98.4deg, #FFD251 3.49%, #FFAF51 93.91%);
    border-image-slice: 1;
}
.feedback-data-left-frame {
    display: inline-block;
    position: absolute;
    width: 2%;
    top: 0;
    bottom: 0;
    border-left: 4px solid;
    border-bottom: 4px solid;
    border-image: linear-gradient(98.4deg, #FFD251 3.49%, #FFAF51 93.91%);
    border-image-slice: 1;
    
}
.feedback-data-text {
    display: inline-block;
    width: 97%;
    margin: 0 0 0 5px;
    background-color: #2C2C2C;
    float: right;
}
.feedback-data-text>p {
    padding: 5px;
    margin: 0;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.01em;
}
.feedback-data-conclusion {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.01em;
}

/*******************************PAGINATION******************************/
#pagination {
    margin-top: 0px;
}
.pagination-field {
    width: 100%;
    margin: 0 auto;
    height: 40px;
    text-align: center;
}
.pagination-buttons {
    display: inline-block;
}
.pagination-buttons a {
    display: flex;
    height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-family: Avenir-Classic;
    font-size: 20px;
}
.pagination-buttons {
    height: 42px;
    width: 42px;
}
.pagination-buttons p {
    margin: 0;
    font-family: Avenir-Classic;
    font-size: 20px;
}
.pagination-buttons.active {
    background-image: url(/images/pagi-bg.svg);
    background-size: 41px;
    background-repeat: no-repeat;
    margin: 0 5px;
    
}
.pagination-buttons.active a {
    font-family: Avenir-Demi;
    color:#FFD251;
    padding-left: 3px;
}
.pagination-buttons a:hover {
    background-image: url(/images/pagi-bg.svg);
    background-size: 41px;
    background-repeat: no-repeat;
    font-family: Avenir-Demi;
}

/********************************************************************************************************************************/
@media  (min-width: 320px) and (max-width: 767px) {
    body {
        touch-action: manipulation;
    }
    .container {
        margin: 0;
        padding: 0;
    }
    section {
        margin: 40px 0;
    }
    h2 {
        font-size: 30px;
    }
    .logo {
        padding-left: 16px;
        margin-right: 8px;
    }
    .logo-image {
        margin: 0;
    }
    .logo>a>p {
        display: none;
    }
    .navbar-menu-button {
        display: inline-block;
    }
    .navbar {
        background-color: #404040;
        position: absolute;
        top: 70px;
        width: 100%;
    }
    .navbar-link {
        display: list-item;
        float: none;
        height: 100%;
        border-bottom:1px solid #555;
    }
    .navbar-link>a {
        padding: 7px 20px;
        height: 50px;
    }
    #navbar-contacts {
        position: absolute;
        padding: 13px 0;
        width: 100%;
        text-align: center;
        z-index: -1;
    }
    #house-image-frame, #mouse-scroll-down, .nav-front-M, .nav-front-L, .navbar {
        display: none;
    }
    .main-page-title, #page-title {
        width: 310px;
        margin-top: 100px;
    }
    .main-page-title p, #page-title h1 {
        font-size: 28px;
        margin: 20px auto 0 auto;
        width: 100%;
        line-height: 1.2em;
    }
    #head-text h1 {
        width: 100%;
        font-size: 24px;
        line-height: 1.3em;
        margin-top: 40px;
        padding: 0 20px;
    }
    #about {
        margin-top: 40px;
        padding: 0 15px;
    }
    #about h5 {
        margin-top: 40px;
    }
    .about-table {
        width: 100%;
        float: none;
    }
    #advantages {
        padding: 0 10px;
    }
    .advantages-item {
        width: 47%;
        vertical-align: top;
    }
    #steps h2 {
        margin-bottom: 10px;
    }
    .step-item {
        width: 100%;
        padding: 0 5px 0px 15px;
        margin: 0 0 40px 0;
        text-align: center;
    }
    .step-item h5, .step-item p {
        width: 100%;
     padding-left: 110px;
    }
    .step-item img {
        height: 90px;
        margin-top: 10px;
    }
    .step-item p {
        font-size: 17px;
    }
    #mini-portfolio-content, .mini-portfolio-note, .more-photo-button-container {
        width: 100%;
        float: none;
    }
    .house-image-main, #house-image-small-container {
        margin: 0;
    }
    .house-image-main {
        width: 100%;
        max-height: 270px;
    }
    #house-image-small-container {
        width: 100%;
    } 
    .house-image-small a {
        height: 70px;
    }
    .mini-portfolio-note {
        padding: 10px 10px 0 10px;
        text-align: center;
    }
    .more-photo-button {
        margin-top: 10px;
        width: 90%;
    }
    footer {
        height: 395px;
    }
    .footer-logo {
        display: block;
        margin: 5px auto;
        text-align: center;
    }
    .footer-logo p {
        float: none;
        padding-top: 20px;
        margin: 10px 0;
    }
    .footer-info {
        text-align: center;
        width: 100%;
        margin-top: 10px;
    }
    .footer-info p {
        text-align: center;
    }
    .footer-title {
        margin: 20px auto;
        padding: 0 10px;
        float: none;
        width: 100%;
    }
    .footer-title h2 {
        padding: 0px;
        font-size: 25px;
        line-height: 30px;
    }
    .footer-copyright p{
        margin: 10px 0;
        padding: 0 10px;
        bottom: 0;
    }
    #nav-list {
        margin-top: 40px;
        width: 100%;
    }
    .nav-list {
        max-width: 330px;
        margin: 0 auto;
        height: 168px;
    }
    .services-nav-list {
        height: 126px;
    }
    .nav-list-item {
        display: list-item;
        width: 100%;
        height: 41px;
    }
    .portfolio-item {
        margin: 0 auto 10px auto;
        width: 100%;
        height: 40%;
    }
    .slide {
        width: 100vw;
    }
    .viewport {
        width: 100vw;
        margin-bottom: 10px;
    }
    .carousel-control-next>span {
        right: 10%;
    }
    .carousel-control-prev>span {
        left: 10%;
    }
    .service-item-left, .service-item-right {
        width: 100%;
    }
    .service-item-image {
        width: 100%;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px auto;
    }
    .service-item-image img {
        max-width: 400px;
        margin: 0 auto;
    }
    .service-item-description {
        padding: 0 15px 15px 15px;
    }
    .service-item ul {
        padding: 0 15px;
    }
    .service-item ul>li {
        margin-left: 5px;
        font-size: 16px;
    }
    .service-item-pluses {
        margin-bottom: 15px;
    }
    .service-process {
        margin: 0 15px 30px 15px;
    }
    .service-process ul {
        width: 100%;
    }
    .service-process ul>li {
        font-size: 16px;
    }
    .price-table {
        padding: 0 15px;
    }
    .price-table-section {
        width: 50%;
    }
    .price-table-inner-section {
        font-size: 16px;
        padding: 5px;
    }
    .left-border {
        border-left: 2px #FFAF51 solid;
    }
    .price-note {
        padding: 0 15px;
    }
    .price-section {
        margin-bottom: 0;
    }
    .section-container h3 {
        margin-bottom: 10px;
    }
    .feedback-item {
        margin-bottom: 25px;
    }
    .feedback-title {
        width: 100%;
        padding-left: 50px;
        font-size: 18px;
    }
    .feedback-owner-date {
        float: none;
        padding: 0;
    }
    .feedback-data-left-frame {
        width: 4%;
    }
    .feedback-data-top-frame {
        height: 15px;
    }
}
@media (min-width: 768px) and (max-width: 1199px){
    .container {width: 750px;}
    .nav-front-L, .navbar {
        display: none;
    }
    .navbar-menu-button {
        display: inline-block;
    }
    .navbar {
        background-color: #404040;
        position: absolute;
        top: 70px;
        width: 100%;
        left: 0;
    }
    .navbar-link {
        display: list-item;
        float: none;
        height: 100%;
        border-bottom:1px solid #555;
    }
    .navbar-link>a {
        padding: 7px 20px;
        height: 50px;
    }
    .nav-list-item>a>p, .nav-list-item>p  {
        font-size: 15px;
    }
    .viewport, .slide {
        width: 720px;
        height: 478.8px;
    }
    #page-title {
        width: 600px;
    }
    #page-title h1 {
        font-size: 28px;
    }
    .main-page-title {
        width: 720px;
        margin-top: 150px;
    }
    .portfolio-item {
        width: 47%;
    }
    #about {
        margin-top: 100px;
    }
    .advantages-item {
        width: 40%;
        vertical-align: top;
    }
    #steps h2 {
        margin-bottom: 10px;
    }
    .step-item {
        width: 100%;
        padding: 0 5px 0px 15px;
        margin: 0 0 40px 0;
        text-align: center;
    }
    .step-item h5, .step-item p {
        width: 100%;
    }
    #mini-portfolio-content, .mini-portfolio-note, .more-photo-button-container {
        width: 100%;
    }
    #house-image-frame {
        margin-left: 90px;
    }
    .house-image-main, #house-image-small-container {
        margin-left: 120px;
    }
    .mini-portfolio-note {
        padding: 10px 10px 0 10px;
        text-align: center;
    }
    .more-photo-button {
        margin-top: 10px;
        width: 90%;
    }
    .service-item {
        margin-bottom: 40px;
    }
    .service-item-image {
        width: 350px;
        height: 235px;
    }
    .service-item>h3 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .service-item-pluses {
        margin-bottom: 20px;
    }
    .service-item-right li {
        padding: 7px 10px 7px 30px;
    }
    .service-process>ul>li {
        font-size: 18px;
    }
    .service-process {
        margin-bottom: 30px;
    }
    .price-section {
        margin-bottom: 0;
    }
    .price-table-inner-section {
        font-size: 18px;
    }
    .footer-logo, .footer-info, .footer-title {
        height: 244px;
        float: none;
    }
    .footer-logo {
        width: 29%;
        vertical-align: top;
    }
    .footer-logo p {
        text-align: center;
        margin: 100px auto;
    }
    .footer-info {
        width: 35%;
    }
    .footer-info p:first-child {
        padding-top: 50px;
    }
    .footer-title {
        vertical-align: top;
        width: 35%;
        float: right;
    }
    .footer-title h2 {
        padding: 90px 20px 0 0;
        font-size: 20px;
        line-height: 30px;
    }
    .footer-info p:first-child {
        padding-top: 50px;
    }
    
}
@media (min-width: 1200px) {
      .container {width: 1170px;}
      .main-bg-image {min-height: 50vh;}
      .nav-front-M {
        display: none;
    }
    .footer-logo, .footer-info, .footer-title {
        height: 244px;
        float: none;
    }
    .footer-logo {
        width: 350px;
        vertical-align: top;
    }
    .footer-logo p {
        font-size: 36px;
        letter-spacing: 0.05em;
        background: linear-gradient(122.59deg, #FFD251 3.49%, #FFAF51 93.91%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 100px 0 0 90px;
        margin: 0;
    }
    .footer-title {
        vertical-align: top;
        float: right;
        max-width: 550px;
        display: inline-block;
    }
    .footer-title h2 {
        padding: 70px 100px;
    }
    .footer-info p:first-child {
        padding-top: 50px;
    }
}
